<h2 class="text-center">Welcome <%= current_user.name %></h2>


<div class="row justify-content-around">
  <% @listing.each do |listing| %>
    <%= render 'card', listing: listing %>
  <% end %>
</div>

<h4 class="text-center">
  <%= link_to "Delete Your Account", dashboard_path(@current_user.id), method: :delete, data: { confirm: "Really want to delete?" }, class: 'btn btn-danger' %>
</div>