<%=  link_to "login", new_user_session_path %>

<h1> All The Listings </h1>
<%= link_to 'Add a new wine', new_listing_path %>


<% @listing.each do |listing| %>
<p><%= listing.name %> : <%= listing.region %></p>
<% end %>
