<h3 class="text-center">Search Results</h3>  

<div class="search-results">

    <% @results.each do |result| %>  
      <div>
      <%= link_to result.name, dashboard_index_path %>
      </div>
      <div>
      <%= result.vintage %>
      </div>
    <% end %>
</div>