<h3 class="text-center">Search Results</h3>  

<div class="row justify-content-around">
    <% @results.each do |result| %>  
      <ul><%= result.name %><br>
      <%= result.vintage %><br> </ul>
    <% end %>
</div>